@import "../../index.scss";

.filter-content {
  @include text-styles("Nunito", 800, 18px, 1.2, rgba(57, 65, 75, 1));
  border: 1px solid rgba(207, 207, 228, 1);
  border-radius: 18px;
  padding: 12px;
  height: max-content;

  .list {
    list-style-type: none;
    li {
      border-radius: 12px;
      padding: 12px;
      cursor: pointer;
      min-width: 238px;

      &.active {
        background-color: rgba(95, 191, 119, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
